extends ../template

block variables
    - var title = 'Оформление заказа'

block content
    main
        section.not-found
            .container
                img(src="assets/images/404.png", alt="")
                h1.not-found__title.title-first Запрашиваемая страница<br> не найдена
                a.button(href="/") Вернуться на главную
    //убрать footer