extends ../template

block variables
    - var title = 'О компании'

block content
    main
        include ../components/breadcrumbs.pug

        // О компании
        section.about-company.mb-90
            .container
                .container__narrow
                    h1.about-company__title.title-first.mb-60 О компании
                    .about-company__content.content
                        img(src="assets/images/about-company.jpg", alt="")
                        p.content__main-text ООО «Торговый Дом Андрей» это дистрибуция доступной и качественной мебели в Санкт Петербурге и Северо-Западном федеральном округе, Москва, Центральном федеральном округе, Краснодар, Краснодарский край. У нас вы найдете все для организации комфорта, дизайна и уюта в доме.
                        p Являемся официальным дилерами фабрики «МСТ Мебель» Ижевск, «Аквилон» Ижевск, «Комфорт S» Ижевск, фабрики «БТС» Пенза, «Стендмебель» Пенза, «ТЭКС» Пенза, «Вавилон58» Пенза, так же мы реализуем товар фабрик», «Интерьер Центр» Пенза, «МИФ» Пенза, «ЭРА» Пенза, «Термит» Пенза, «Феникс» Волгодонск. Мебель на металлокаркасе фабрик «Модуль» Лениногорск, «Фабрика «Эклат» Кузнецк, «Шаде» Пенза. Мягкая мебель фабрики «Маблос» Казань «Мебель Приволжья» Дзержинск. Матрасы фабрики «Бремен» Владимир. Собственное производство находится в г. Пенза.
                        p Дата основания компании 1998 год. Генеральный директор Гуляев Сергей Алексеевич. Основной профиль деятельности оптовая торговля корпусной и мягкой мебелью, производство корпусной мебели.
                        p Наша компания существует на мебельном рынке 23 года, начав свою деятельность с реализации тумб ТВ и журнальных столиков с колес, сегодня МТД «Андрей» современные складские площади, выгодные партнерские условия для оптовиков, свой автотранспорт.
                        p Система продаж оптовая, наши менеджеры по продажам постоянно на связи, менеджеры по связям очень мобильны, готовы в любое время оказать услуги розничным продавцам в реализации поставляемой продукции и в обеспечении рекламной и печатной продукцией. Для покупателей подготовлены рейтинги продаж, рекомендации по выставочным образцам. Организуются акции и распродажи. Гибкая система предоставления скидок на мебель. Предоставляется возможность на льготных условиях организовать выставки в розничных торговых точках.
                        p Наши офисы оснащенный современной оргтехникой, позволяющей решать все организационные вопросы быстро и эффективно, современные складские помещения многоуровневого складирования, позволяющие эффективно использовать складские площади, и максимально быстро производить отгрузку, система штрих кодирования товара. Свой автотранспорт. Отлаженная система логистики по всем регионам.

        // Вакансии
        section.vacancy.mb-90
            .container
                .container__narrow
                    h2.vacancy__title.title-second.mb-60 Наши вакансии
                    
                    .vacancy__accordion.accordion
                        .accordion__item.ac
                            .accordion__header.ac-header
                                span.accordion__info Руководитель отдела продаж
                                .accordion__wrap
                                    .accordion__place
                                        span Город:
                                        span.accordion__city Санкт-Петербург
                                    span.accordion__info По договоренности
                            .accordion__panel.ac-panel
                                .accordion__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    button.accordion__content-btn.button(data-modal-trigger="vacancy-form") Откликнуться на вакансию
                            button.accordion__btn.ac-trigger
                                svg(width="30" height="30")
                                    use(xlink:href="assets/images/sprite.svg#arrow-incircle")

                        .accordion__item.ac
                            .accordion__header.ac-header
                                span.accordion__info Руководитель отдела по связям с общественностью
                                .accordion__wrap
                                    .accordion__place
                                        span Город:
                                        span.accordion__city Санкт-Петербург
                                    span.accordion__info По договоренности
                            .accordion__panel.ac-panel
                                .accordion__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    button.accordion__content-btn.button(data-modal-trigger="vacancy-form") Откликнуться на вакансию
                            button.accordion__btn.ac-trigger
                                svg(width="30" height="30")
                                    use(xlink:href="assets/images/sprite.svg#arrow-incircle")

                        .accordion__item.ac
                            .accordion__header.ac-header
                                span.accordion__info Рабочий на склад
                                .accordion__wrap
                                    .accordion__place
                                        span Город:
                                        span.accordion__city Санкт-Петербург
                                    span.accordion__info По договоренности
                            .accordion__panel.ac-panel
                                .accordion__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    p Hendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis. Рendrerit viverra est euismod velit nec. Ridiculus at quam id elementum vulputate sagittis.
                                    button.accordion__content-btn.button(data-modal-trigger="vacancy-form") Откликнуться на вакансию
                            button.accordion__btn.ac-trigger
                                svg(width="30" height="30")
                                    use(xlink:href="assets/images/sprite.svg#arrow-incircle")

                    .vacancy__window.modal#vacancy-form
                        .modal__container
                            h2.modal__title.title-second Отклик на вакансию
                            p.modal__value Руководитель отдела продаж

                            button(type="button" aria-label="Закрыть окно" data-close).modal__close-btn.button-close
                                svg(width="24" height="24")
                                    use(xlink:href="assets/images/sprite.svg#close")

                            form.modal__form.form(action="#" method="post")
                                .form__item
                                    label.form__label(for="form-name") Фамилия, имя, отчество
                                    input.form__input(id="form-name" type="text" name="name")
                                .form__item
                                    label.form__label(for="form-tel") Телефон
                                    input.form__input(id="form-tel" type="tel" name="tel")
                                .form__item
                                    label.form__label(for="form-email") E-mail
                                    input.form__input(id="form-email" type="email" name="email")
                                .form__item
                                    label.form__label(for="form-comment") Сообщение
                                    input.form__input(id="form-comment" type="comment" name="comment")
                                
                                .form__file(data-file-field)
                                    input.visually-hidden(id="form-file" type="file", name="file")
                                    label(for="form-file") 
                                        span Прикрепить резюме
                                        svg(width="24" height="24")
                                            use(xlink:href="assets/images/sprite.svg#attach")
                                    span Информация о поддерживаемых форматах и максимально-возможному весу файлов
                                
                                button(type="submit").form__submit-btn.button Отправить

        include ../components/about-block.pug
