extends ../template

block variables
    - var title = 'Личный кабинет Личные данные'

block content
    main
        include ../components/breadcrumbs.pug

        section.account.mb-90
            .container
                h1.account__title.title-first.mb-60 Личный кабинет
                .account__subtitle.mb-60 Здравствуйте, Евгения
                .account__wrap
                    .account__side.account-side
                        ul.account-side__list
                            li.account-side__item
                                a.account-side__link.active(href="#") Личные данные
                            li.account-side__item
                                a.account-side__link(href="#") Мои заказы
                            li.account-side__item
                                a.account-side__link(href="#") Избранное
                            li.account-side__item
                                a.account-side__link(href="#" data-modal-trigger="logout") Выйти
                    .account__content
                        .account__block.mb-60
                            .account__head
                                h2.account__content-title Личная информация
                                button.account__edit-btn(data-change-data="person") Редактировать данные
                            form.account__form.form(action="#")
                                .form__item
                                    label.form__label(for="surname") Фамилия
                                    input.form__input(id="surname" type="text" name="surname" value="Константинопольская" disabled)
                                .form__item
                                    label.form__label(for="name") Имя
                                    input.form__input(id="name" type="text" name="name" value="Евгения" disabled)
                                .form__item
                                    label.form__label(for="patronymic") Имя
                                    input.form__input(id="patronymic" type="text" name="patronymic" value="Константиновна" disabled)
                                .form__item
                                    label.form__label(for="form-tel") Телефон
                                    input.form__input(id="form-tel" type="tel" name="tel" disabled)
                                .form__item
                                    label.form__label(for="form-email") E-mail
                                    input.form__input(id="form-email" type="email" name="email" disabled)
                                label.form__checkbox.checkbox.disabled
                                    input.checkbox__input.visually-hidden(type="checkbox" name="" value="" disabled)
                                    span.checkbox__caption Получать информацию о скидках и новостях
                                .account__btns(data-change-block="person")
                                    button.account__save-btn.button(type="submit") Сохранить
                                    button.account__save-btn.button.button--ghost(type="reset" data-change-cancel) Отмена

                        // Форма смены пароля
                        .account__block
                            .account__head
                                button.account__edit-btn(data-change-data="password") Изменить пароль
                            .account__form-wrap(data-change-block="password")
                                form.account__form.form(action="#")
                                    .form__item
                                        label
                                            input.form__input(id="" type="password" name="" placeholder="Введите старый пароль")
                                    .form__item
                                        label.form__label
                                            input.form__input(id="" type="password" name="" placeholder="Новый пароль")
                                    .form__item
                                        label.form__label
                                            input.form__input(id="" type="password" name="" placeholder="Повторите новый пароль")
                                    .account__btns
                                        button.account__save-btn.button(type="submit") Сохранить
                                        button.account__save-btn.button.button--ghost(type="reset" data-change-cancel) Отмена
                                .account__warning
                                    svg(width="20" height="20")
                                        use(xlink:href="assets/images/sprite.svg#attention")
                                    p Пароль должен содержать десять букв, букву другого регистра, три буквы на клингонском, и прочая ерунда

        include ../components/modal-logout.pug
