extends ../template

block variables
    - var title = 'Документы'

block content
    main
        include ../components/breadcrumbs.pug

        section.documents.mb-90
            .container
                h1.documents__title.title-first.mb-60 Документы
                .documents__block.mb-90
                    h2.documents__caption Прайс – листы
                    ul.documents__list.download-list
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")

                .documents__block.mb-90
                    h2.documents__caption Остатки на складе
                    ul.documents__list.download-list
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")
                        li.download-list__item
                            a.download-list__card(href="#")
                                span Прайс-лист для фабрики «Название фабрики»
                                svg(width="32" height="32")
                                    use(xlink:href="assets/images/sprite.svg#generate-pdf")

        include ../components/about-block.pug