extends ../template

block variables
    - var title = 'Карта сайта'

block content
    main
        .container
            table.site-map
                tr.site-map__row
                    td.site-map__cell
                        a.site-map__link(href="main.html") Главная
