extends ../template

block variables
    - var title = 'Главная'

block content
    main
        h1
        section.main-slider
            .swiper-container
                .swiper-wrapper 
                    .swiper-slide
                        .main-slider__item
                            img(src="#", alt="")
                            .main-slider__text-wrap
                                h2.main-slider__title 
                                    span.main-slider__small Новая коллекция 
                                    span.main-slider__big диванов 
                                    span.main-slider__middle со скидкой
                                a(href="#") Перейти к скидкам
