extends ../template

block variables
    - var title = 'Карта сайта'

block content
    main
        section.site-map.mb-90
            .container
                table.site-map__table
                    tr.site-map__row
                        td.site-map__cell
                            a.site-map__link(href="main.html") Главная
                        td.site-map__cell
                            a.site-map__link(href="catalog.html") Каталог
                        td.site-map__cell
                            a.site-map__link(href="catalog-section.html") Раздел каталога
                        td.site-map__cell
                            a.site-map__link(href="catalog-item.html") Карточка товара
