extends ../template

block variables
    - var title = 'Услуги'

block content
    main
        include ../components/breadcrumbs.pug

        section.services.mb-90
            .container
                .container__narrow
                    h1.services__title.title-first.mb-60 Услуги

                    .services__block.mb-60
                        .services__caption Доставка
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat odio enim neque ornare sit dictum urna duis dolor.

                        ul.services__list
                            li.services__item.services__item--head
                                span Название услуги
                                span Стоимость
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                    .services__block.mb-60
                        .services__caption Подъем
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat odio enim neque ornare sit dictum urna duis dolor.

                        ul.services__list
                            li.services__item.services__item--head
                                span Название услуги
                                span Стоимость
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                    .services__block
                        .services__caption Сборка
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat odio enim neque ornare sit dictum urna duis dolor.

                        ul.services__list
                            li.services__item.services__item--head
                                span Название услуги
                                span Стоимость
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.
                            li.services__item
                                span Доставка до подъезда без подъема в квартиру
                                span 1 000 руб.

        include ../components/about-block.pug