extends ../template

block variables
    - var title = 'Гарантии'

block content
    main
        include ../components/breadcrumbs.pug

        section.warranty.mb-90
            .container
                .container__narrow
                    h1.warranty__title.title-first.mb-60 Гарантии
                    .warranty__content
                        p.warranty__main-text Гарантия на мебель составляет <span class="bold-text--800">18 месяцев</span> с дня покупки, за исключением уцененной мебели.

                        .warranty__block
                            p.bold-text Покупатель получая передаваемую мебель ОБЯЗАН вскрыть упаковку и визуально осмотреть качество товара на предмет наличия видимых недостатков, наличия схемы сборки и фурнитуры, а также соответствия основных характеристик полученного товара заказу. Обязательно убедиться в отсутствии внешних дефектов, а так-же в комплектности товара, прежде чем расписываться в товарном чеке. 
                            p Все претензии к внешнему виду доставленного Вам товара в соответствии со <span  class="bold-text">ст. 458</span> и <span  class="bold-text">459 ГК РФ</span> покупатель может предъявить только до передачи товара продавцом. Ссылки на загрязненность товара, недостаточную освещенность помещения, поторапливания со стороны экспедиторов, работников склада самовывоза и прочие причины, не являются основанием для невыполнения Вами требований <span  class="bold-text">ст. 484 ГК РФ</span>.

                        .warranty__block
                            p.bold-text ПЕРЕЧЕНЬ НЕПРОДОВОЛЬСТВЕННЫХ ТОВАРОВ НАДЛЕЖАЩЕГО КАЧЕСТВА, НЕ ПОДЛЕЖАЩИХ ВОЗВРАТУ ИЛИ ОБМЕНУ НА АНАЛОГИЧНЫЙ ТОВАР ДРУГИХ РАЗМЕРА, ФОРМЫ, ГАБАРИТА, ФАСОНА, РАСЦВЕТКИ ИЛИ КОМПЛЕКТАЦИИ
                            p .. 8. Мебель бытовая (мебельные гарнитуры и комплекты) ...
                            p ...11. Технически сложные товары бытового назначения, на которые установлены гарантийные сроки (станки металлорежущие и деревообрабатывающие бытовые; электробытовые машины и приборы; бытовая радиоэлектронная аппаратура; бытовая вычислительная и множительная техника; фото- и киноаппаратура; телефонные аппараты и факсимильная аппаратура; электромузыкальные инструменты; игрушки электронные, бытовое газовое оборудование и устройства) ...
                            p Постановление Правительства РФ от 20.10.1998 N 1222, от 06.02.2002
                    
                        p.important-text.bold-text Согласно ГК РФ собранная мебель обмену и возврату не подлежит.

                        .warranty__block
                            p Сборка мебели осуществляется в течение 10 рабочих дней после получения товара покупателем.
                            p По вопросам брака обращаться в отдел рекламации:     info@mebelcorpus.ru, тел. +7 (812) 309 31 54
                            p Покупателем высылается фото поврежденной детали, фото этикетки коробки в которой находилась поврежденная деталь и описание дефекта или описание недостающей части, с контактной информацией.
                            p В течение 4х рабочих дней Вы получите ответ по телефону или эл.почте.
                        
                        .warranty__block
                            p В случае обнаружения брака или некомплектности изделия, после отгрузки товара, замена бракованных или недостающих деталей осуществляется путем САМОВЫВОЗА со склада поставщика или доставляется на платной основе.
                            p В случае обнаружения брака или некомплектности изделия, после отгрузки (приема покупателем) товара, замена бракованных или недостающих деталей осуществляется путем САМОВЫВОЗА со склада поставщика или доставляется на платной основе.

        include ../components/about-block.pug