.catalog-section {
    &__wrap {
        display: grid;
        grid-template-columns: minmax(auto, 280px) 1fr;
        align-items: flex-start;
        column-gap: 25px;
    }
}

.catalog-aside {
    position: sticky;
    top: 20px;

    &__list {
        @include list-reset;
    }

    &__link {
        display: flex;
        line-height: 19px;
        color: var(--color-main-text);
        text-decoration: none;
        border-bottom: 1px solid #FAFAFA;
        padding: 10px 20px;
        transition: 150ms ease-in-out;
        transition-property: color;

        &:hover {
            color: var(--color-primary);
        }
        &.active {
            font-weight: 700;
            color: var(--color-primary);
        }
    }
}

.filter-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 160px;
    column-gap: 15px;
    margin-bottom: 40px;

    &__select-wrap {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: 30px;
            width: 10px;
            height: 10px;
            background-image: url('../images/sprite.svg#arrow-downward');
            background-repeat: no-repeat;
            background-position: center;
            transform: translateY(-50%);
        }

        &.active::after {
            top: 40%;
            transform: rotate(180deg);
        }
    }

    &__select {
        width: 100%;
        text-overflow: ellipsis;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        padding: 10px 30px;
        cursor: pointer;
        transition: border-color 150ms ease-in-out;

        &:hover {
            border-color: var(--color-primary);
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        @include button-reset;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        transition: border-color 150ms ease-in-out;
        
        svg, span {
            pointer-events: none;
        }

        &:hover {
            border-color: var(--color-primary);
        }
    }
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    @include list-reset;
}

.full-filter {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    z-index: 11;
    padding: 60px;
    padding-top: 100px;
    transition: right 450ms ease-in-out;
    overflow-y: auto;

    &.active {
        right: 0;
    }

    &__btn {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }

    &__form {
        display: grid;
        row-gap: 30px;
        max-width: 300px;
        color: var(--color-black);
    }

    &__select {
        max-width: 250px;
        margin-bottom: 20px;
    }

    &__group {
        border: none;
        padding: 0;
        margin: 0;
    }

    &__group--col {
        display: grid;
        row-gap: 10px;
    }

    &__caption {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    &__more-btn {
        width: max-content;
        display: flex;
        align-items: center;
        column-gap: 5px;
        @include button-reset;
    }

    &__wrap {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 130px;
        column-gap: 40px;
    }

    &__range {
        display: flex;
        column-gap: 10px;
        border-bottom: 1px solid var(--color-black);

        input {
            max-width: 100%;
            border: none;
            outline: none;
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button {
                display: none;
            }
        }
    }

    &__radios {
        display: grid;
        row-gap: 10px;
    }

    &__reset-btn {
        width: max-content;
        display: flex;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-decoration: underline;
        @include button-reset;
    }
}

@media screen and (max-width: 1199.98px) {
    .catalog-section {
        &__wrap {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .catalog-aside {
        position: static;
    }
    .catalog-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 975px) {
    .catalog-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 767.98px) {
    .filter-menu {
        grid-auto-flow: initial;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 10px;
    }
}