.site-map {
    &__table {
        border-collapse: collapse;
        margin: 30px 0;
    }
    
    &__cell {
        border: 1px solid #000000;
    }

    &__link {
        display: flex;
        color: var(--color-main-text);
        text-decoration: none;
        padding: 15px;
        transition: color 150ms ease-in-out;

        &:hover {
            color: var(--color-primary);
        }
    }
}

@media screen and (max-width: 767.98px) {
    .site-map {
        &__row {
            display: grid;
        }
    }
}