.ordering {
    &__wrap {
        display: grid;
        grid-template-columns: minmax(auto, 570px) minmax(auto, 420px);
        column-gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767.98px) {
    .ordering {
        &__wrap {
            grid-template-columns: 100%;
            row-gap: 30px;
        }

        &__btn {
            padding: 10px;
        }
    }
}