.ordering {
    &__wrap {
        display: grid;
        grid-template-columns: minmax(auto, 570px) minmax(auto, 420px);
        column-gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__toggle {
        width: max-content;
        display: flex;
        column-gap: 5px;
        border: 1px solid var(--standart-grey);
        border-radius: 5px;
        padding: 5px;
    }

    &__btn {
        @include button-reset;
        color: var(--color-form-text);
        border-radius: 5px;
        padding: 10px 15px;

        &.active {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }
}

@media screen and (max-width: 767.98px) {
    .ordering {
        &__wrap {
            grid-template-columns: 100%;
            row-gap: 30px;
        }

        &__toggle {
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
        }

        &__btn {
            padding: 10px;
        }
    }
}