section.about-block.mb-90
    .container
        .about-block__text
            h4.about-block__title ТД Андрей - федеральная оптовая сеть мебели в Москве, Санкт-Петербурге и Краснодаре
            p Мы продаем оптом мебель в, в Санкт Петербурге и Северо-Западном федеральном округе, Москва, Центральном федеральном округе, Краснодар, Краснодарский край.
            p Для удобства интернет магазинов и магазинов, реализующих мебель эконом и среднего класса. Открыты оптовые склады в разных регионах. С нами Вы сэкономите на доставке мебели.
            p Всем мебельным магазинам самые выгодные цены независимо от объема закупок, отгрузка по крупному опту.
            p У нас огромный складской запас корпусной мебели. Оптимальность закупок и доставки, которую наша организация делает напрямую с мебельных фабрик, позволяет торговать по самым выгодным ценам. Нами создана Складская программа мебель, которая всегда находится на складе, если ее нет на складе она находится в пути, от 3 до 5 дней.
            p Для магазинов есть возможность бронировать товар у менеджеров сроком до 7 дней. (более длительный срок оговаривается индивидуально). Все заказы отправляются на электронную почту <a href="mailto:konstantinova@mebelcorpus.ru">konstantinova@mebelcorpus.ru</a> Для интернет-магазинов и магазинов полный спектр услуг, доставка, подъем, сборка мы все сделаем сами. Мы будем рады работать с Вами. С нами легко и просто!
            p Офисы и Склады готовой продукции в одном месте. 
            p Москва, Мытищи, ул. Силикатная, дом 53, кор.3; <a href="tel:+74951396098">8(495) 139-60-98</a>, <a href="tel:+79672562200">8-967-256-22-00</a> 
            p Санкт-Петербург, Николаевский проезд, дом 37; <a href="tel:+78123093154">8(812) 309-31-54</a>, <a href="tel:983-59-51">983-59-51</a>
            p Краснодар, ул. Новороссийская, дом 220, литера Е; <a href="tel:+78612139513">8(861) 213-95-13</a>, <a href="tel:+79628600565">8-962-860-05-65</a>
        button.about-block__btn(data-more-text) Развернуть