.breadcrumbs.container
    ul.breadcrumbs-list
        li.breadcrumbs-list__item
            a.breadcrumbs-list__link(href="/") Главная
        li.breadcrumbs-list__item
            span /
        li.breadcrumbs-list__item
            span.breadcrumbs-list__active Каталог