footer.footer
    .container
        .footer__grid
            a.footer__logo(href="#")
                img(src="assets/images/logo.png" alt="Логотип ТД Андрей")
            .footer__contacts
                a.footer__tel(href="tel:+78123093154") +7 (812) 309-31-54
                a.footer__tel(href="tel:+79602835951") +7 (960) 283-59-51
            button.footer__btn.button.button--ghost(type="button" data-modal-trigger="callback") Заказать звонок
        .footer__column
            span.footer__caption Каталог товаров
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") Мебель для спальни
                li.footer__item
                    a.footer__link(href="#") Прихожие
                li.footer__item
                    a.footer__link(href="#") Мебель для гостинной
                li.footer__item
                    a.footer__link(href="#") Мебель для кухни
                li.footer__item
                    a.footer__link(href="#") Шкафы
                li.footer__item
                    a.footer__link(href="#") Мягкая мебель
                li.footer__item
                    a.footer__link(href="#") Детская мебель
                li.footer__item
                    a.footer__link(href="#") Кухни на заказ
        .footer__column
            span.footer__caption Информация
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") О компании
                li.footer__item
                    a.footer__link(href="#") Услуги
                li.footer__item
                    a.footer__link(href="#") Новости
                li.footer__item
                    a.footer__link(href="#") Новинки
                li.footer__item
                    a.footer__link(href="#") Документы
                li.footer__item
                    a.footer__link(href="#") Пресс-кит
                li.footer__item
                    a.footer__link(href="#") Снято с производства
        .footer__info
            .footer__wrap
                span.footer__caption Мы в социальных сетях
                ul.footer__social.social-list
                    li.social-list__item
                        a.social-list__link(href="#" aria-label="facebook")
                            svg(width="16" height="30")
                                use(xlink:href="assets/images/sprite.svg#facebook")
                    li.social-list__item
                        a.social-list__link(href="#" aria-label="vkontakte")
                            svg(width="30" height="18")
                                use(xlink:href="assets/images/sprite.svg#vk")
                    li.social-list__item
                        a.social-list__link(href="#" aria-label="instagram")
                            svg(width="30" height="30")
                                use(xlink:href="assets/images/sprite.svg#instagram")
            .footer__wrap
                span.footer__caption Мы принимаем оплату
                ul.footer__pays.pay-list
                    li.pay-list__item
                        svg.pay-list__logo(width="56" height="17")
                            use(xlink:href="assets/images/sprite.svg#visa")
                    li.pay-list__item
                        svg.pay-list__logo(width="54" height="16")
                            use(xlink:href="assets/images/sprite.svg#mir")
                    li.pay-list__item
                        svg.pay-list__logo(width="40" height="25")
                            use(xlink:href="assets/images/sprite.svg#master-card")
                    li.pay-list__item
                        svg.pay-list__logo(width="40" height="25")
                            use(xlink:href="assets/images/sprite.svg#maestro")
                    li.pay-list__item
                        svg.pay-list__logo(width="61" height="25")
                            use(xlink:href="assets/images/sprite.svg#googlePay")
                    li.pay-list__item
                        svg.pay-list__logo(width="45" height="29")
                            use(xlink:href="assets/images/sprite.svg#applePay")
            .footer__wrap
                form.footer__form.subscription-form(action="#" method="post")
                    label(for="subscription").subscription-form__label.footer__caption Подписаться на новости
                    .subscription-form__wrap
                        input.subscription-form__input(type="email" id="subscription" placeholder="Введите ваш e-mail")
                        button.subscription-form__btn.button(type="submit" aria-label="Отправить")
                            svg(width="20" height="16")
                                use(xlink:href="assets/images/sprite.svg#arrow")
        .footer__bot
            a.footer__link(href="#") Пользовательское соглашение
            a.footer__link(href="#") Политика конфиденциальности

