header.header
    nav.header__nav
        .header__top
            .container.header-wrap
                button.header__location-btn(data-modal-trigger="select-city")
                    svg(width="15" height="15")
                        use(xlink:href="assets/images/sprite.svg#icon-gps-device")
                    span Санкт-Петербург
                ul.header__list
                    li.header__item
                        a.header__link(href="#") Как купить 
                    li.header__item
                        a.header__link(href="#") Гарантии
                    li.header__item
                        a.header__link(href="#") Скидки и акции
                    li.header__item
                        a.header__link(href="#") Контакты
                .header__info
                    .header__graphic
                        .header__time <span>Пн-Пт:</span> 09:00 – 18:00
                        .header__time <span>Сб:</span> 10:00 – 13:00
                    .header__note Прием заказов на сайте
                        span круглосуточно
                a.header__tel(href="tel:+78123093154") 
                    svg(width="18" height="18")
                        use(xlink:href="assets/images/sprite.svg#telephone")
                    span +7 (812) 309-31-54

        .header__container.container
            .header__primary.header-wrap
                a.header__logo(href="#")
                    img(src="assets/images/logo.png", alt="")

                button.header__toggle-menu.button(data-catalog-toggle)
                    svg(width="14" height="14")
                        use(xlink:href="assets/images/sprite.svg#hamburger-button")
                    span Каталог

                // форма поиска
                form.header__search.search-form(method="get" action="#")
                    button.search-form__btn(type="button")
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#icons-search")
                    label
                        input.search-form__input(type="search" placeholder="Поиск по сайту")
                // форма поиска конец

                .header__user-menu
                    a.header__account(href="#" data-modal-trigger="login")
                        svg(width="25" height="25")
                            use(xlink:href="assets/images/sprite.svg#user-outlined")
                        span Личный кабинет
                    a(href="#").header__cart
                        svg(width="27" height="27")
                            use(xlink:href="assets/images/sprite.svg#cart")
                        sup 3
                        span Корзина
                
                    button.header__burger-btn(data-burger aria-label="Раскрыть меню")
                        span

            .header__mobile
                .header__btns
                    a(href="#").header__toggle-menu.button
                        svg(width="14" height="14")
                            use(xlink:href="assets/images/sprite.svg#hamburger-button")
                        span Каталог
                    button.header__location-btn(data-modal-trigger="select-city")
                        svg(width="15" height="15")
                            use(xlink:href="assets/images/sprite.svg#icon-gps-device")
                        span Санкт-Петербург
                ul.header__list
                    li.header__item
                        a.header__link(href="#") Как купить 
                    li.header__item
                        a.header__link(href="#") Гарантии
                    li.header__item
                        a.header__link(href="#") Скидки и акции
                    li.header__item
                        a.header__link(href="#") Контакты
            ul.header__menu.header-menu
                li.header-menu__item
                    a.header-menu__link(href="#") О компании
                li.header-menu__item
                    a.header-menu__link(href="#") Услуги
                li.header-menu__item
                    a.header-menu__link(href="#") Новости
                li.header-menu__item
                    a.header-menu__link(href="#") Новинки
                li.header-menu__item
                    a.header-menu__link(href="#") Документы
                li.header-menu__item
                    a.header-menu__link(href="") Пресс-кит
                li.header-menu__item
                    a.header-menu__link(href="#") Снято с производства
            .header__mobile
                a.header__tel(href="tel:+78123093154") 
                    svg(width="18" height="18")
                        use(xlink:href="assets/images/sprite.svg#telephone")
                    span +7 (812) 309-31-54
                .header__info
                    .header__graphic
                        .header__time <span>Пн-Пт:</span> 09:00 – 18:00
                        .header__time <span>Сб:</span> 10:00 – 13:00
                    .header__note Прием заказов на сайте
                        span круглосуточно
                
        .header__full-menu.full-menu(data-full-menu)
            .container
                .full-menu__head
                    a.header__logo(href="#")
                        img(src="assets/images/logo.png", alt="")
                    button.full-menu__close-btn.button-close(type="button" aria-label="Закрыть" data-close)
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#close")
                .full-menu__top
                    h2.full-menu__title.title-second Каталог
                    form.header__search.search-form(method="get" action="#")
                        button.search-form__btn(type="submit")
                            svg(width="20" height="20")
                                use(xlink:href="assets/images/sprite.svg#icons-search")
                        label
                            input.search-form__input(type="search" placeholder="Поиск по сайту")
                .full-menu__wrap
                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Мебель для гостинной
                        li.full-menu__item
                            a.full-menu__link(href="#") Стенки
                        li.full-menu__item
                            a.full-menu__link(href="#") Шкафы
                        li.full-menu__item
                            a.full-menu__link(href="#") Журнальные столы
                        li.full-menu__item
                            a.full-menu__link(href="#") Мягкая мебель
                        li.full-menu__item
                            a.full-menu__link(href="#") Тумбы ТВ
                        li.full-menu__item
                            a.full-menu__link(href="#") Стулья

                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Мебель для спальни
                        li.full-menu__item
                            a.full-menu__link(href="#") Спальные гарнитуры
                        li.full-menu__item
                            a.full-menu__link(href="#") Модульные спальни
                        li.full-menu__item
                            a.full-menu__link(href="#") Кровати
                        li.full-menu__item
                            a.full-menu__link(href="#") Матрасы
                        li.full-menu__item
                            a.full-menu__link(href="#") Комоды
                        li.full-menu__item
                            a.full-menu__link(href="#") Прикроватные тумбы

                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Мебель для кухни
                        li.full-menu__item
                            a.full-menu__link(href="#") Модульные кухни
                        li.full-menu__item
                            a.full-menu__link(href="#") Готовые решения
                        li.full-menu__item
                            a.full-menu__link(href="#") Обеденные группы
                        li.full-menu__item.full-menu__item--caption(style="margin-top: 47px;")
                            a.full-menu__link(href="#") Кабинет
                    
                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Прихожие
                        li.full-menu__item
                            a.full-menu__link(href="#") Модульные прихожие
                        li.full-menu__item
                            a.full-menu__link(href="#") Готовые решения
                        li.full-menu__item
                            a.full-menu__link(href="#") Обувницы

                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Детская мебель
                        li.full-menu__item
                            a.full-menu__link(href="#") Модульные детские
                        li.full-menu__item
                            a.full-menu__link(href="#") Готовые решения
                        li.full-menu__item
                            a.full-menu__link(href="#") Компьютерные столы
                        li.full-menu__item
                            a.full-menu__link(href="#") Компьютерные стулья

                    ul.full-menu__list
                        li.full-menu__item.full-menu__item--caption
                            a.full-menu__link(href="#") Мягкая мебель
                        li.full-menu__item
                            a.full-menu__link(href="#") Диваны
                        li.full-menu__item
                            a.full-menu__link(href="#") Модульные диваны
                        li.full-menu__item
                            a.full-menu__link(href="#") Кресла
                            