a(href="#").news-cards__link.news-cards__link--nohover
    img.news-cards__img.news-cards__img--br(src="assets/images/info-letter.jpg", alt="")
    .news-cards__text-wrap.news-cards__text-wrap--woborder
        .news-cards__caption Интервью с руководителем коммерческого департамента
        p Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!