a(href="#").news-cards__link
    img.news-cards__img(src="assets/images/news-card-min.jpg", alt="")
    .news-cards__text-wrap
        time.news-cards__date(datetime="2020-12-10") 10.12.2020
        .news-cards__caption Интервью с руководителем коммерческого департамента
        p Мы воспринимаем текущий года как вызов, размышляя о том, что еще мы можем изменить и улучшить в будущем!