a(href="#").product-cards__link
    img.product-cards__img(src="assets/images/card-min.jpg" alt="")
    .product-cards__info
        span.product-cards__caption Наименование товара в одну или две строки
        .product-cards__wrap
            .product-cards__row
                span.product-cards__term Размеры: 
                span.product-cards__value 2000х2700х500 (ШхВхГ)
            .product-cards__row
                span.product-cards__term Остаток на складе: 
                span.product-cards__value.product-cards__value--weight 12 шт
        .product-cards__bot
            .product-cards__price 125 000 ₽
            .product-cards__btn.button
                svg(width="21" height="21")
                    use(xlink:href="assets/images/sprite.svg#cart")
                span В корзину