.breadcrumbs {
    margin-top: 30px;
    margin-bottom: 60px;
}

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    @include list-reset;

    &__link {
        color: var(--color-black);
        text-decoration: none;

        &:hover {
            color: var(--color-primary);
        }
    }

    &__active {
        color: var(--color-bc);
    }
}

@media screen and (max-width: 767.98px) {
    .breadcrumbs {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}