.form {
    &__group {
        border: none;
        padding: 0;
        margin: 0;
        margin-bottom: 60px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__select-group {
        display: grid;
        grid-template-columns: minmax(auto, 260px) minmax(auto, 190px);
        column-gap: 30px;
    }

    &__radio-group {
        display: grid;
        row-gap: 10px;
    }

    &__caption {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: var(--color-card-text);
        margin-bottom: 30px;
    }

    &__item {
        display: grid;
        row-gap: 10px;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-form-text);
        border: 1px solid var(--standart-grey);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 20px;
        outline: none;

        &:focus {
            border-color: var(--color-primary);
        }

        &::placeholder {
            color: var(--standart-grey);
        }
    }

    &__file {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 298px);
        column-gap: 27px;
        align-items: center;
        margin-top: 30px;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #00ab44;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 9px 20px 11px;
            cursor: pointer;
        }

        span {
            color: var(--color-black);
        }
    }

    &__submit-btn {
        margin-top: 60px;
    }
}

.select {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: 30px;
        width: 10px;
        height: 10px;
        background-image: url("../images/sprite.svg#arrow-downward");
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
    }

    &.active::after {
        top: 40%;
        transform: rotate(180deg);
    }

    select {
        width: 100%;
        text-overflow: ellipsis;
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        padding: 10px 30px;
        cursor: pointer;
        transition: border-color 150ms ease-in-out;

        &:hover {
            border-color: var(--color-primary);
        }
    }
}

.toggle-form {
    width: max-content;
    display: flex;
    column-gap: 5px;
    border: 1px solid var(--standart-grey);
    border-radius: 5px;
    padding: 5px;

    &__btn {
        @include button-reset;
        color: var(--color-form-text);
        border-radius: 5px;
        padding: 10px 15px;

        &.active {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }
}

@media screen and (max-width: 767.98px) {
    .form {
        &__file {
            grid-template-columns: 100%;
            row-gap: 20px;
        }

        &__group {
            margin-bottom: 30px;
        }

        &__select-group {
            grid-template-columns: 100%;
            row-gap: 20px;
        }

        &__caption {
            margin-bottom: 15px;
        }

        &__submit-btn {
            width: 100%;
        }
    }

    .toggle-form {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
}
