.header {
    a {
        color: var(--color-main-text);
        text-decoration: none;
    }

    &__top {
        padding: 11px 0;
    }

    &__location-btn {
        display: flex;
        @include button-reset;
    }

    &__list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap: 30px;
        @include list-reset;
    }

    &__info {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap: 30px;
    }

    &__note {
        display: grid;
        font-weight: 600;

        span {
            text-transform: uppercase;
        }
    }

    &__toggle-menu {
        padding: 15px 20px;

        svg {
            margin-right: 15px;
        }
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include list-reset;
    padding: 10px 0;

    &__link {
        display: flex;
        padding: 10px 0;
    }
}