.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    a {
        text-decoration: none;

        &:hover {
            color: var(--color-primary);
        }
    }

    &__top {
        background-color: var(--color-search-back);

        .container {
            padding-top: 11px;
            padding-bottom: 11px;
        }
    }
    &__location-btn {
        display: flex;
        @include button-reset;

        &:hover {
            color: var(--color-primary);

            svg {
                --gps: #{var(--color-primary)};
            }
        }
    }
    &__list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap: 30px;
        @include list-reset;
    }
    &__link {
        color: var(--color-main-text);
    }
    &__info {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap: 30px;
    }
    &__time {
        span {
            font-weight: 600;
        }
    }
    &__note {
        display: grid;
        font-weight: 600;

        span {
            text-transform: uppercase;
        }
    }
    &__tel {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 25px;
        color: var(--color-primary);

        svg {
            margin-right: 10px;
        }
    }

    &__primary {
        align-items: flex-end;
        padding-top: 27px;
        padding-bottom: 33px;
    }
    &__logo {
        display: flex;
    }
    &__toggle-menu {
        font-size: 14px;
        line-height: 19px;
        padding: 15px 20px;

        svg {
            pointer-events: none;
            margin-right: 15px;
        }
        span {
            pointer-events: none;
        }
    }

    &__user-menu {
        display: flex;
    }
    &__account {
        display: flex;
        align-items: center;
        color: var(--color-main-text);
        padding: 12px 15px;
        margin-right: 10px;

        svg {
            margin-right: 13px;
        }
    }
    &__cart {
        display: flex;
        align-items: center;
        color: var(--color-main-text);

        sup {
            top: -1em;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: var(--color-primary);
            margin-right: 10px;
        }
    }
    &__burger-btn {
        display: none;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include list-reset;
    padding: 10px 0;

    &__link {
        display: flex;
        color: var(--color-main-text);
        padding: 10px 0;
    }
}

.search-form {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 50px;

    &__btn {
        position: absolute;
        left: 30px;
        height: 100%;
        @include button-reset;
        z-index: 1;
    }

    &__input {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-search-back);
        border: none;
        border-radius: 5px;
        padding: 15px 30px 16px;
        padding-left: 70px;
    }
}

.full-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    z-index: 12;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;

    &.show {
        transform: translateY(0);
    }

    .container {
        padding-top: 87px;
        padding-bottom: 127px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 93px;
    }
    &__close-btn {
        padding: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
    }
    &__title {
        margin-right: 15%;
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 15%;
        row-gap: 60px;
        margin-top: 58px;
    }

    &__list {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 10px;
        @include list-reset;

        a {
            font-size: 14px;
            line-height: 19px;
            color: var(--color-main-text);
            transition: color 150ms ease-in-out;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__item--caption {
        margin-bottom: 10px;

        a {
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .header {
        &__list {
            column-gap: 15px;
        }

        &__info {
            display: none;
        }

        &__account,
        &__cart {
            svg {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .header {
        &__top {
            display: none;
        }

        &__primary {
            column-gap: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &__logo {
            max-width: 70px;
            margin-right: auto;
        }
        &__toggle-menu {
            display: none;
        }
        &__user-menu {
            align-items: flex-end;
            column-gap: 20px;
        }
        &__account {
            padding: 0;
            margin-right: 0;
        }
        &__cart {
            sup {
                margin-right: 0;
            }
        }
        &__burger-btn {
            position: relative;
            display: flex;
            align-items: center;
            width: 26px;
            height: 26px;
            @include button-reset;
            padding: 5px 3px;

            span {
                width: 100%;
                height: 2px;
                background-color: var(--color-main-text);
            }

            &::before, &::after {
                position: absolute;
                content: '';
                left: 3px;
                width: calc(100% - 6px);
                height: 2px;
                background-color: var(--color-main-text);
            }
            &::before {
                top: 5px;
            }
            &::after {
                bottom: 5px;
            }
        }
    }

    .search-form {
        width: 22px;
        height: 22px;

        &__btn {
            left: 0;

            svg {
                --search: #{var(--color-black)};
            }
        }

        &__input {
            width: 0;
            height: 22px;
            top: -9px;
            left: -100%;
            background: none;
            transform: translateX(-41%);
            z-index: 12;
        }

        &__input:focus {
            width: calc(100vw - 40px);
            height: 40px;
            background-color: var(--color-search-back);
        }
    }

    .header-menu {
        display: none;
    }
}